@mixin tabletscreens {
    @media screen and (min-width: map-get($breakpoints, tablets)){
        @content;
    }
}

@mixin desktopscreen {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}

@mixin row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin bloc-postion {
    width: 100%;
}

@mixin display-restaurants-links {
    border: 0px solid black;
    border-radius: 15px;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 3px 3px 6px darkgrey;
}
@mixin display-menu-links {
    border: 0px solid black;
    border-radius: 15px;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 3px 3px 6px darkgrey;
    margin-right: 5px;
}

@mixin images-homepage {
    object-fit: cover;
	width: 300px;
	height: 175px;	
	border: 0px solid white;
	border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

@mixin column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin column-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}