$primary-color: #9356DC;

$primary-color-light: lighten($primary-color, 30);

$secondary-color: #FF79DA;

$tertiary-color: #99E2D0;

$tertiary-color-dark: darken($tertiary-color, 50);

$title-font: 'Shrikhand';

$text-font: 'Roboto';

$button-color: linear-gradient(to bottom right, $primary-color, $secondary-color);

$breakpoints: (
    tablets: 768px,
    desktop: 992px
);