

@keyframes menu-opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes checked-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loading-spinner {
    0% {
        transform: rotate(0deg);
        opacity: 1;
        z-index: 5;
    }
    75% {
        opacity: 1;
        z-index: 5;
    }
    100% {
        transform: rotate(360deg);
        opacity: 0;
        z-index: -5;
    }
}

@keyframes loading-background {
    0% {
        opacity: 0.6; 
        z-index: 3;
    }
    75% {
        opacity: 0.6; 
        z-index: 3;
    }
    99% {
        z-index: 3;
    }
    100% {
        opacity: 0;
        z-index: -5;
    }
}



.loading {
    &::before {
        position: fixed;
        top: calc(50% - 25px);
        left: calc(50% - 25px);
        z-index: 5;  
        display: flex;
        content: "";
        width: 50px;
        height: 50px;
        border: 10px solid transparent;
        border-radius: 50%;
        border-top-color: $tertiary-color;
        border-bottom-color: $tertiary-color;
        animation: loading-spinner 2.5s ease forwards;     
    }
}

.loading-background {
    &::before {
        position: fixed;
        z-index: 3;
        display: flex;
        content: "";
        width: 100vw;
        height: 100vh;
        background-color: black;
        animation: loading-background 2.2s forwards;  
    }
}


.menu {
    &__entrées {      
        animation: menu-opacity 1.5s 0.5s backwards;
    }
    &__plats {
        animation: menu-opacity 1.5s 1s backwards;
    }
    &__desserts {
        animation: menu-opacity 1.5s 1.5s backwards;
    }
}

.menu__links a:hover {
    .checkbox {
        opacity: 1;
        width: 20%;
        z-index: 1;
        & i {
            animation: checked-rotate 1s;
        }
    }
}