

@keyframes menu-opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes like {

}

@keyframes checked-translate {
    0% {
        transform: translateX(-0%) rotate(0deg);
    }
    100% {
        transform: translateX(100%) rotate(360deg);
    }
}

@keyframes loading-spinner {
    0% {
        transform: rotate(0deg); 
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes loading-spinner-fade {
    0% {
        transform: opacity(1);
    }
    90% {
        transform: opacity(1);
    }
    100% {
        transform: opacity(0);
    }
}

.loading {
    display: flex;
    position: fixed;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    z-index: 5;  
    &::after {
        content: "";
        width: 50px;
        height: 50px;
        border: 10px solid transparent;
        border-radius: 50%;
        border-top-color: $tertiary-color;
        border-bottom-color: $tertiary-color;
        animation: loading-spinner  1s infinite ease;
       
    }
}


    
    
   

.menu {
    &__title {    
        animation: menu-opacity 1.5s 0.5s backwards;
    }
    &__entrées {      
        animation: menu-opacity 1.5s 1s backwards;
    }
    &__plats {
        animation: menu-opacity 1.5s 1.5s backwards;
    }
    &__desserts {
        animation: menu-opacity 1.5s 2s backwards;
    }
}