
.intro__text, .intro__button {
    border: 0px, solid black;
    background-color: rgb(240, 240, 240);
    padding: 10px;
}

h2 {
    margin-left: 10px;
}

.intro {
    @include column-left;
    @include bloc-postion;
    &__localisation {
        @include row-center;
        margin-top: 20px;
        background-color: rgb(225, 225, 225);
        padding-top: 10px;
        padding-bottom: 10px;
    }
    &__button {
        @include row-center;
    }
}

.utilisationsection {
    @include column-left;
    @include bloc-postion;
    margin-top: 30px;
    margin-bottom: 30px;
    & h2 {
        margin-left: 15px;
    }     
    .utilisation__list__steps {
        border: 0px solid black;
        border-radius: 20px;
        background-color: rgb(240, 240, 240);
        margin: 25px;
        padding: 15px;
        box-shadow: 3px 3px 6px darkgrey;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
}

.list__number {
    border: 0px solid black;
    border-radius: 50%;
    padding: 5px 10px;
    color: white;
    background-color: $primary-color;
}

.restaurants {
    @include column-center;
    &__icones {
        display: flex;
        flex-direction: row;
        justify-content: flex-end; 
        align-items: center; 
        font-size: 25px;      
    }
    &__links {
        @include display-restaurants-links;
    &__description { 
        display: flex;
        flex-direction: row;
        justify-content: space-between;      
        padding: 10px;
        }
    &__text {
        display: flex;
        flex-direction: column;
    }    
    }
}

.restaurantssection { 
    @include bloc-postion;
    background-color: rgb(240, 240, 240);
    padding: 5px;
    &.restaurantssection a {
        text-decoration: none;
        color: black;
    }
}
