
.intro__text, .intro__button {
    border: 0px, solid black;
    background-color: rgb(240, 240, 240);
    padding: 10px;
}

h2 {
    margin-left: 10px;
}

.intro {
    width: 100%;
    @include column-center;
    &__localisation {
        @include row-center;
        margin-top: 20px;
        background-color: rgb(225, 225, 225);
        padding-top: 10px;
        padding-bottom: 10px;
    }
    &__button {
        @include row-center;
    }
}

.utilisationsection {
    width: 100%;    
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    .utilisation__list__steps {
        border: 1px solid black;
        border-radius: 20px;
        background-color: rgb(240, 240, 240);
        margin: 10px;
    }
}

.restaurants {
    @include column-center;
    &__icones {
        display: flex;
        flex-direction: row;
        justify-content: flex-end; 
        align-items: center; 
        font-size: 25px;      
    }
    &__links {
        @include display-restaurants-links;
    &__description { 
        display: flex;
        flex-direction: row;
        justify-content: space-between;      
        padding: 10px;
        }
    &__text {
        display: flex;
        flex-direction: column;
    }    
    }
}

.restaurantssection { 
    width: 100%;
    background-color: rgb(240, 240, 240);
    padding: 5px;
    &.restaurantssection a {
        text-decoration: none;
        color: black;
    }
}
