
form input[type=submit] {
    border: none;
    color: white;
    background-color: $primary-color;
    text-align: center;
    border: 0px solid lightgrey;
    box-shadow: 3px 3px 6px darkgrey;
    padding: 15px;
    font-size: 17px;
    font-family: $text-font;
    font-weight: normal;
    border-radius: 50px;
    margin-bottom: 25px;
    @include tabletscreens {
        font-size: 25px;
    }
}

form input[type=text] {   
    border: none;
    text-align: center;
    font-family: $text-font;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(225, 225, 225);
    @include tabletscreens {
        font-size: 20px;
    }
}



