
.footer {
    @include column-left;
    @include bloc-postion;
    padding-top: 20px;
    padding-bottom: 20px;   
    background-color: rgb(75, 75, 75);
    &__links {
        margin-left: 30px;
        & i {
            margin-right: 10px;
        }
    }
    &__title {
        font-family: $title-font;
        font-size: 20px;
        color: white;
        margin-left: 30px;  
    }
    @include tabletscreens {
        @include column-center;
        &__links {
            font-size: 20px;
        }
        &__title {
            font-size: 30px;
        }

    }
    @include desktopscreen {
        .footer__links {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            & a {
                margin-left: 25px;
                margin-right: 25px;
            }
        }
    }
}
.footer a {
    display: flex;
    flex-direction: row;
    align-items: center;   
    text-decoration: none;
    color: white;
    font-family: $text-font;
    &:nth-child(1), :nth-child(2) {
        font-weight: bold;
    }
    &:hover {
        text-decoration: underline;
    }
}

