.homepageheader {
   width: 100%;
   padding-top: 20px;
   @include row-center;
}

.restaurantsheader {
   width: 100%;
   padding-top: 15px;
   padding-bottom: 10px;
   display: flex;
   flex-direction: row;
   align-items: center;
   &__logo {
      width: 100%;
      margin-left: -20px;
      @include row-center;
      z-index: 0;
   }
   .returnbutton a {
      margin-left: 20px;
      color: black;
      z-index: 1;
      position: relative;
   }
}

